doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="static/styles.css")
  body
    div.main
      input#color(type="color")
    script(src="socket.io/socket.io.js")
    script(src="static/main.js")